body {
margin: 0;
background: #111;
color: white;
font-family: Arial;
}

header {
display: flex;
justify-content: space-between;
padding: 25px 8%;
}

nav a {
color: #aaa;
text-decoration: none;
margin-left: 20px;
}

nav a:hover {
color: white;
}

main {
padding: 120px 8%;
}

h1 {
font-size: 60px;
}

p {
color: #999;
font-size: 18px;
max-width: 600px;
}

@media (max-width: 600px) {
header {
display: block;
}

```
nav {
    margin-top: 20px;
}

nav a {
    margin-right: 15px;
    margin-left: 0;
}

h1 {
    font-size: 40px;
}
```

}
